header {

    font-size: 40px;
    text-shadow: 0.1em 0.1em 0.2em turquoise;

}

.space {

    margin-left: 0.5em;

}

body {

    font-family: 'Times New Roman', Times, serif;
    background-color: papayawhip;

}

img {

    border-radius: 10px;

}

h1 {

    font-size: 30px;
    text-shadow: 0.1em 0.1em 0.2em turquoise;

}

h3 {

    color: hotpink;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: turquoise;

}